.App {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

header {
  position: relative;
  z-index: 10;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: white;
  background: #121212;
}

.background {
  background-image: url("./assets/images/factory.jpg");
  background-size: cover;
  background-position: 15%;
  min-height: 100vh;
  overflow: auto;
}

@media only screen and (max-width: 87.5em) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 80%;
  }
}
