.wrap,
.header {
  margin: 0;
}

.wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 25rem;
  color: #fff;
  background: #000;
}

.video,
.message {
  position: relative;
}

.header {
  font-size: 1.875em;
  font-weight: 400;
}

.text2 {
  margin: 1rem 0;
}

.text {
  color: #2f72e1;
  border-bottom: 1px solid #2f72e1;
  text-decoration: none;
  transition: border 0.25s;
}

.text:hover {
  border-bottom-color: transparent;
}

.message {
  display: block;
  margin-top: -15%;
  padding: 0 1rem;
  text-align: left;
}

.video {
  display: block;
  width: 60%;
  height: auto;
  margin-left: 10%;
  margin-top: -20%;
  z-index: -1;
}

@media screen and (max-height: 460px) {
  .wrap {
    position: absolute;
  }
}

@media screen and (max-width: 479px) {
  .message {
    font-size: 0.8125rem;
  }
}

@media screen and (max-width: 319px) {
  .header {
    font-size: 1.25rem;
  }
  .message {
    font-size: 0.75rem;
  }
}
